body{
    background-color: #dceaff;
    font-family: "DM Sans", sans-serif;
    margin-left: 25px;
    padding: 40px;
}
h1{
    text-align: center;
    font-size: 65px;
    margin-top: -10px;
    margin-bottom: 55px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 35px;
}
li{
    font-size: 30px;
}
button{
    background: rgba(255, 255, 255, 0.247);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    padding: 10px 16px;
    margin-top: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    font-size: 15px;
    transition: 0.4s;
}
button:hover{
    transform: translateY(-4px);
    cursor: pointer;
}
button:active{
    transform: scale(0.85);
}
.del-button{
    margin-left: 10px;
    color: rgb(231, 71, 71);
}
#taskInput{
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
    color: #222;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}
#taskInput:hover{
    transform: scale(1.05);
}
#darkMode{
    position: absolute;
    top: 30px;
    left: 50px;
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 22px;
}
.dark-mode{
    background: #121212;
    color: white;
}
.dark-mode button{
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.dark-mode .del-button{
    margin-left: 10px;
    color: rgb(231, 71, 71);
}

.dark-mode #taskInput{

    background: rgba(255, 255, 255, 0.1);

    border: 1px solid rgba(255, 255, 255, 0.2);

    color: white;

}
.dark-mode #taskInput::placeholder{

    color: white;

}


#taskInput{
    display: none;
}